.header{clear: both;overflow: hidden;background-color:#fff;}
.header .header-top{height: 60px;line-height: 60px;padding: 0 20px;text-align: right;}
.header .header-top a{margin-left: 40px;}
.breadcrumb{height: 40px;line-height: 40px;padding: 0 20px;border-top: 1px solid #f9c700;}
.breadcrumb .breadcrumb-title{
  text-align: center;
  /* color: red; */
}
.breadcrumb-title:after{
  position: absolute;
  content: '';
  left:73px;
  top:39px;
  border-top: 9px solid #fff;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  /* background-color: rebeccapurple; */
}
.breadcrumb .weather{
  text-align: right;
  font-size: 14px;
}
.breadcrumb .weather .date{
  margin-right: 10px;
}
.breadcrumb .weather .weather-img img{
  height: 22px;
}
.breadcrumb .weather .weather-detail{
 margin-left: 5px; 
 vertical-align: middle;
}