.container{
  display: flex;
}
.container .nav-left{
  width: 15%;
  min-width: 180px;
  height: calc(100vh);
  color: #ffffff;
  /* background-color: red; */
}
.container .main{
  flex:1;
  height: calc(100vh);
  padding: 20px;
  background-color: #f1f3f5;
  /* overflow: hidden; */
}
.main .content{
  position: relative;
  /* height: 20px; */
}