<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <style>
        /* .class1{
            background: #444;
            color: red;
        }
        .class2{
            background: yellow;
            color: green;
        } */
    </style>
</head>
<body>
    <div id="app">
     <p v-if="seen">现在can see</p>
     <template v-if="ok">
         <h1>标题</h1>
         <p>图片</p>
         <p>日期</p>
     </template>
     <template v-if="sing">
         <p>singer</p>
         <p>songs</p>
     </template>
    </div>
    <script>
      new Vue({
          el:'#app',
          data:{
              seen:true,
              ok:true,
              sing:false
          }
      })

    </script>
</body>
</html>