<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
    <div id="computed_props">
        千米:<input type="text" v-model="kilometers">
        米：<input type="text" v-model="meters">
    </div>
    <p id="info"></p>
    <script>
        var vm=new Vue({
            el:"#computed_props",
            data:{
                kilometers:0,
                meters:0,
            },
            methods:{},
            computed:{},
            watch:{
                kilometers:function(val){
                    this.kilometers=val;
                    this.meters=this.kilometers*1000
                },
                meters:function(val){
                    this.kilometers=val/1000;
                    this.meters=val;
                }
            }

        })
    </script>
</body>
</html>