.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
.card-wrap{
  margin-bottom: 10px;
}
.slider-wrap .ant-carousel .slick-slide {
  height: 440px !important;
  width: 1600px !important;
}
